<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">
  <h6>
  <%= link_to 'Home', home_path %>&nbsp;&nbsp;|
  <%= link_to 'About', about_path %>&nbsp;&nbsp;|
  <%= link_to 'Contact Us', contact_path %>
  <br/>

  <div id="copy">
    &copy Copyright 2018 CareDash  
  </div>
  </h6>

  <div>
  	<a class="waves-effect waves-light btn-floating social facebook" style = "background: #3B5998;">
	<i class="fa fa-facebook"></i> Like Us on Facebook </a>

	<a class="waves-effect waves-light btn-floating social instagram" style = "background: #f40083">
	<i class="fa fa-instagram"></i> Like Us on Instagram</a>

	<a class="waves-effect waves-light btn-floating social twitter" style = "background: #55ACEE;">
	<i class="fa fa-twitter"></i> Like Us on Twitter</a>                  

	<a class="waves-effect waves-light btn-floating social pinterest" style = "background: #cb2027;">
	<i class="fa fa-pinterest"></i> Like Us on Pinterest</a>
  </div>

  <br/>



</div>