<nav id="nav" class= "cyan darken-1">
  <div class="container ">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Doctors', doctors_path %></li>
      <li><%= link_to 'Reviews', reviews_path %></li>
    </ul>
  </div>
</nav>
