<div class="row">    
  <div class="col s12">
    <div class="card">
      <div class="card-content">
  
        <span class="card-title"><b>Contact Us</b></span>
        <p> Contact CareDash with questions, concerns, or feedback. We'd love to hear from you!
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Contact</span>
        <table cellpadding="3">
          <tr>
            <td>For media inquiries </td>
            <td>
            <%= mail_to("PR@caredash.com", "PR@caredash.com", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>For general questions </td>
            <td>
            <%= mail_to("ameeshig@andrew.cmu.edu", "ameeshig@andrew.cmu.edu", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-425-3888</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>