<div class="row">  
  <h4>Welcome to CareDash </h4>  
  <div class="col s9">

    <div class="card">
      <div class="card-content">
        <p>Yeah, I'm making an app. How's it going so far? I'd say pretty good.
        </p>
      </div>
    </div>
  </div>
</div>
