<p id="notice"><%= notice %></p>

<h3>Doctors</h3>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Reviews</th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= link_to doctor.name, doctor_path(doctor) %></td>
        <td><%= link_to doctor.reviews.size, doctor_path(doctor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
