<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Doctor</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.description, review %></td>
        <td><%= link_to review.doctor.name, doctor_path(review.doctor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
